<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User administration</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css"
          integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/}"><img
                        src="https://www.nicepng.com/png/full/115-1153942_white-home-icon-png-white-home-logo-transparent.png"
                        width="30" height="25"></a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('USER')" class="nav-link" th:href="@{/employee}">Employee</a>
                <a sec:authorize="hasRole('ADMIN')" class="nav-link" th:href="@{/employee}">Employee Administration</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('USER')" class="nav-link" th:href="@{/company}">Company</a>
                <a sec:authorize="hasRole('ADMIN')" class="nav-link" th:href="@{/company}">Company Administration</a>
            </li>
            <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/admin}">User Administration</a>
            </li>
        </ul>
    </div>
    <ul class="nav navbar-nav dropleft">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><img
                    src="https://icon-library.com/images/profile-icon-white/profile-icon-white-1.jpg" width="30"
                    height="25"></a>
            <div class="dropdown-menu text-capitalize">
                <div sec:authorize="isAuthenticated()" sec:authentication="name" class="ml-4" th:object="${user}"></div>
                <a class="dropdown-item" sec:authorize="isAuthenticated()" href="/logout">Log Out</a>
                <a class="dropdown-item" sec:authorize="isAnonymous()" href="/login">Log In</a>
                <a class="dropdown-item" sec:authorize="isAnonymous()" href="/showNewUser">Register</a>
            </div>
        </li>
    </ul>
</nav>
<div class="container my-2">
    <h1 class="mb-5">Users administration</h1>
    <table class="table table-responsive-md">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${listUsers}">
            <td th:text="${user.userName}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/updateUser/{id}(id=${user.id})}" class="btn btn-primary mr-2">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>