<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Management System</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
          integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Company Management System</h1>
    <hr>
    <h2>New Company</h2>

    <form action="#" th:action="@{/saveCompany}" th:object="${company}" method="POST">
        <input type="text" th:field="*{name}"
                placeholder="Company name" class="form-control mb-4 col-4">
        </p>
        <button type="submit" class="btn btn-info col-3">Save Company</button>
    </form>
    <hr>
    <a th:href = "@{/company}">Back to company list</a>
</div>
</body>
</html>